.actualContent {
    button {
        margin: 10px 0;
        width: 150px;
        height: 30px;
        color: white;
        background-color: var(--windowColor);
        filter: drop-shadow(1px -1px 10px rgb(26, 26, 187));
        border: 0;
        border-radius: 8px;
    }
    .smallText {
        font-size: 5px;
    }

    .red {
        color: red;
    }
    .green {
        color: green;
    }
    .orange {
        color: orange;
    }
}
