* {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  background-color: black;
  color: white;
  text-align: center;
  align-items: center;
}

svg {
  fill: white;
  min-width: 40px;
  max-height: 40px;
}
.bitcoinIcon{
  width: 60px;
}

button {

  margin: 10px 0;
  width: 60vw;
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
  margin: 20px 0 10px 0;
}
p, a {
  font-size: 12px;
}
.smallText {
  font-size: 5px;
}

.red {
  color: red;
}
.green {
  color: green;
}

.peakOfHumor {
  padding: 10px 0 50px 0;
}

.perks {
  display: flex;
  flex-direction: column;
  gap: 14px;

}
.perksRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 8px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.clients {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.opinion {
  display: flex;
  flex-direction: column;
  padding: 4px 8px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.opinionAuthor {
  text-align: right;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.findMore {
  cursor: pointer;
}